.cloud-top {
  top: -15%;
  z-index: 15;
  animation: top-out 3s, grow 5s linear infinite alternate;
}

.cloud-top-left {
  top: -10%;
  left: -20%;
  z-index: 10;
  rotate: -45deg;
  animation: top-left-out 3s, grow 5s linear infinite alternate;
}

.cloud-top-right {
  top: -10%;
  right: -20%;
  z-index: 10;
  rotate: 45deg;
  animation: top-right-out 3s, grow 5s linear infinite alternate;
}

.cloud-bot {
  bottom: -15%;
  z-index: 16;
  rotate: 180deg;
  animation: bot-out 3s, grow 5s linear infinite alternate;
}

.cloud-bot-left {
  bottom: -10%;
  left: -20%;
  z-index: 15;
  rotate: -135deg;
  animation: bot-left-out 3s, grow 5s linear infinite alternate;
}

.cloud-bot-right {
  bottom: -10%;
  right: -20%;
  z-index: 15;
  rotate: 135deg;
  animation: bot-right-out 3s, grow 5s linear infinite alternate;
}

.cloud {
  width: 400px;
  position: absolute;
  filter: drop-shadow(5px 15px 5px #222);
}

@keyframes grow {
  0% {
    padding-left: 0px;
  }

  25% {
    padding-left: 10px;
  }

  50% {
    padding-left: 0px;
  }

  75% {
    padding-left: -10px;
  }

  100% {
    padding-left: 0px;
  }
}

@keyframes top-out {
  0% {
    top: -50%;
  }

  100% {
    top: -15%;
  }
}

@keyframes top-left-out {
  0% {
    top: -70%;
    left: -70%;
  }

  100% {
    top: -10%;
    left: -20%;
  }
}

@keyframes top-right-out {
  0% {
    top: -70%;
    right: -70%;
  }

  100% {
    top: -10%;
    right: -20%;
  }
}

@keyframes bot-out {
  0% {
    bottom: -50%;
  }

  100% {
    bottom: -15%;
  }
}

@keyframes bot-left-out {
  0% {
    bottom: -70%;
    left: -70%;
  }

  100% {
    bottom: -10%;
    left: -20%;
  }
}

@keyframes bot-right-out {
  0% {
    bottom: -70%;
    right: -70%;
  }

  100% {
    bottom: -10%;
    right: -20%;
  }
}


.fairies {
  position: absolute;
  filter: drop-shadow(5px 15px 5px #222);
  bottom: 35%;
  z-index: 10;
  animation: left-center 5s
}

.fairies img {
  left: 20%;
  width: 50% !important;
  transform: scaleX(-1);
  animation:
    ring 5s linear infinite alternate;
}

.cloud-main {
  animation: left-center-cloud 5s;
}

@keyframes ring {
  0% {
    rotate: 0deg;
    padding-bottom: 5px;
  }

  10% {
    rotate: 0deg;
    padding-bottom: 0px;
  }

  20% {
    rotate: 15deg;
    padding-bottom: 5px;
  }

  25% {
    rotate: -15deg;
    padding-bottom: 0px;
  }

  30% {
    rotate: 15deg;
    padding-bottom: 5px;
  }

  35% {
    rotate: -15deg;
    padding-bottom: 0px;
  }

  40% {
    rotate: 0deg;
    padding-bottom: 5px;
  }

  50% {
    rotate: 0deg;
    padding-bottom: 0px;
  }

  60% {
    rotate: 0deg;
    padding-bottom: 0px;
  }

  70% {
    rotate: 15deg;
    padding-bottom: 5px;
  }

  75% {
    rotate: -15deg;
    padding-bottom: 0px;
  }

  80% {
    rotate: 15deg;
    padding-bottom: 5px;
  }

  85% {
    rotate: -15deg;
    padding-bottom: 0px;
  }

  90% {
    rotate: 0deg;
    padding-bottom: 5px;
  }

  100% {
    rotate: 0deg;
    padding-bottom: 0px;
  }
}

@keyframes left-center {
  0% {
    left: -70%;
  }

  100% {
    left: 0%;
  }
}

@keyframes left-center-cloud {
  0% {
    left: -70%;
  }

  100% {
    left: -3%;
  }
}

.content {
  float: right;
  margin-right: 10px;
  background: url('https://www.freepnglogos.com/uploads/photo-frame-png/love-photo-frame-png-for-couples-image--12.png') top right/100% 100% no-repeat;
  padding: 40px;
  border-radius: 10px;
  opacity: 1;
  animation: with-in 10s;
  width: 70%;
}

@keyframes with-in {
  0% {
    opacity: 0;
    width: 0%;
    padding: 0;
  }

  90% {
    opacity: 0;
    width: 0%;
    padding: 0;
  }

  100% {
    opacity: 1;
    width: 70%;
  }
}

.cake {
  /* padding-top: 40px; */
  animation: opacity-in 10s,
    ring 5s linear infinite alternate,
    scale-in 3s linear infinite alternate;
}

@keyframes scale-in {
  0% {
    transform: scale(0.9);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.candle {
  animation: zoom-in 15s,
    scale-in 3s linear infinite alternate
}

@keyframes zoom-in {
  0% {
    height: 0;
  }


  100% {
    height: unset;
  }
}

.bg-fire {
  opacity: 1;
  animation: show-in 10s
}

@keyframes show-in {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  animation: show-out 5s
}

.cake-hidden {
  opacity: 0;
  animation: show-out 10s
}

@keyframes show-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.image-down {
  border-radius: 10px !important;
  position: absolute;
  filter: drop-shadow(5px 15px 5px #adacac);

}

@keyframes scale-house {
  0% {
    transform: scale(2);
  }

  20% {
    transform: scale(2.3);
  }

  40% {
    transform: scale(2);
  }

  60% {
    transform: scale(2);
  }

  80% {
    transform: scale(2);
  }

  90% {
    transform: scale(2.4);
  }

  100% {
    transform: scale(2);
  }
}

.house {
  animation:
    ringM 5s linear infinite alternate,
    scale-house 3s linear infinite alternate;
}

@keyframes down-image {
  0% {
    padding-top: 0;
  }

  100% {
    padding-top: 400%;
  }
}

@keyframes ringM {
  0% {
    rotate: 0deg;
    transform: scaleX(-0.5);
  }

  10% {
    rotate: 0deg;
    transform: scaleX(0.5);
  }

  20% {
    rotate: 5deg;
    transform: scaleX(-0.5);
  }

  25% {
    rotate: -5deg;
    transform: scaleX(0.5);
  }

  30% {
    rotate: 5deg;
    transform: scaleX(-0.5);
  }

  35% {
    rotate: -5deg;
    transform: scaleX(-0.5);
  }

  40% {
    rotate: 0deg;
    transform: scaleX(0.5);
  }

  50% {
    rotate: 0deg;
    transform: scaleX(-0.5);
  }

  60% {
    rotate: 0deg;
    transform: scaleX(-0.5);
  }

  70% {
    rotate: 5deg;
    transform: scaleX(0.5);
  }

  75% {
    rotate: -5deg;
    transform: scaleX(-0.5);
  }

  80% {
    rotate: 5deg;
    transform: scaleX(0.5);
  }

  85% {
    rotate: -5deg;
    transform: scaleX(-0.5);
  }

  90% {
    rotate: 0deg;
    transform: scaleX(0.5);
  }

  100% {
    rotate: 0deg;
    transform: scaleX(0.5);
  }
}

/* .text-3d {
  font-family: Garamond, serif;
  line-height: 1em;
  color: #063ef4;
  font-weight: bold;
  font-size: 145px;
  animation: text3d 25s linear infinite alternate;
  text-shadow: 0px 1px 0 rgb(231, 105, 105), 0px 2px 0 rgb(106, 40, 212), 0px 3px 0 rgb(93, 222, 19), 0px 4px 0 rgb(221, 221, 12), 0px 5px 0 rgb(245, 12, 226), 0px 6px 0 rgb(8, 202, 236), 0px 7px 0 rgb(61, 4, 247), 0px 8px 0 rgb(202, 190, 190), 0px 9px 0 rgb(34, 34, 34), 0px 10px 9px rgba(0, 0, 0, 0), 0px 10px 1px rgba(0, 0, 0, 0.5), 10px 15px 20px rgba(243, 243, 243, 0);
}

@keyframes text3d {
  0% {
    rotate: 0deg;
    transform: scaleX(-0.2);
  }

  10% {
    rotate: 0deg;
    transform: scaleX(1);
  }

  20% {
    rotate: 2deg;
    transform: scaleX(1);
  }

  25% {
    rotate: -7deg;
    transform: scaleX(0.1);
  }

  30% {
    rotate: 5deg;
    transform: scaleX(-0.2);
  }

  35% {
    rotate: -8deg;
    transform: scaleX(1);
  }

  40% {
    rotate: 0deg;
    transform: scaleX(1);
  }

  50% {
    rotate: 0deg;
    transform: scaleX(-0.4);
  }

  60% {
    rotate: 0deg;
    transform: scaleX(1);
  }

  70% {
    rotate: 7deg;
    transform: scaleX(1);
  }

  75% {
    rotate: -5deg;
    transform: scaleX(-0.4);
  }

  80% {
    rotate: 7deg;
    transform: scaleX(1);
  }

  85% {
    rotate: -5deg;
    transform: scaleX(-0.2);
  }

  90% {
    rotate: 0deg;
    transform: scaleX(0.1);
  }

  100% {
    rotate: 0deg;
    transform: scaleX(1);
  }
} */

.wrapper {
  width: 100vw;
  text-align: center;
}

.wrapper span {
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #fbf7f7;
  font-size: 100px;
  text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
  transform: translate(0, 100%) rotate(4deg);
  animation: jump 2s ease-in-out infinite;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #fff;
}

.wrapper span:nth-child(1) {
  animation-delay: 120ms;
}

.wrapper span:nth-child(2) {
  animation-delay: 240ms;
}

.wrapper span:nth-child(3) {
  animation-delay: 360ms;
}

.wrapper span:nth-child(4) {
  animation-delay: 480ms;
}

.wrapper span:nth-child(5) {
  animation-delay: 600ms;
}

.wrapper span:nth-child(6) {
  animation-delay: 650ms;
}

.wrapper span:nth-child(7) {
  animation-delay: 900ms;
}

.wrapper span:nth-child(8) {
  animation-delay: 960ms;
}

.wrapper span:nth-child(9) {
  animation-delay: 1080ms;
}

.wrapper span:nth-child(10) {
  animation-delay: 1200ms;
}

.wrapper span:nth-child(11) {
  animation-delay: 1320ms;
}

.wrapper span:nth-child(12) {
  animation-delay: 1440ms;
}

.wrapper span:nth-child(13) {
  animation-delay: 1560ms;
}

@keyframes jump {
  33% {
    text-shadow: 0 60px #f37121, 0 150px #f2aaaa;
  }

  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
  }

  66.67% {
    text-shadow: 0 -60px #d54062, 0 -150px #8fc0a9;
  }
}


@media screen and (max-height: 200px) {
  .wrapper {
    transform: scale(0.3, 0.3);
  }
}

@media screen and (max-width: 576px) {
  .wrapper span {
    font-size: 30px;
  }
}

.text-shadow {
  font-style: italic;
  text-transform: uppercase;
  /* color: transparent; */
  /* text-shadow: 2px 2px 10px #cd5151; */
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation: SlideBg 3s linear infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 50px;
}

.text-shadow:hover {
  color: #eef207 !;
}

@media (max-width: 768px) {
  .tags small {
    font-size: 0.5em;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 20px 10px #3ad9f5;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 20px 20px #3ad9f5;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 20px 10px #3ad9f5;
  }

  100% {
    opacity: 1;
    text-shadow: 2px 20px 20px #3ad9f5;
  }
}

.button:focus,
.button:active {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--active);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--active);
  }
}

.button {
  --color: #ef6eae;
  --active: #ef8f6e;
}

.button {
  color: var(--color);
  transition: 0.25s;
}

.button:active,
.button:focus {
  /* border-color: var(--active); */
  color: #fff;
}

.button {
  background-color: #343A40;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  border-width: 4px;
  border-color: #1c1f29a6;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation: SlideBg 3s linear infinite;
}

textarea {
  background: #1c1f29a6 !important;
  border-width: 0px 0px 2px 0px !important;
}

textarea:-moz-placeholder,
/* Firefox 18- */
textarea::-moz-placeholder,
/* Firefox 19+ */
textarea:-ms-input-placeholder,
/* IE 10+ */
textarea::-webkit-input-placeholder,
/* Webkit based */
textarea::placeholder,
.ant-input__placeholder {
  color: white !important;
}

@keyframes SlideBg {
  to {
    background-position: 20vw;
  }
}

.text-3d input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}

.text-3d div {
  position: relative;
  height: 100px;
  width: 100px;
  background: #18191f;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
  margin: 0 4px;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow,
    0 0 25px yellow;


}

/* div:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 38px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
} */

.text-3d input[type="checkbox"]:checked~div {
  color: #555;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
    transform: rotateX(0);
  }

  100% {
    filter: hue-rotate(360deg);
    transform: rotateX(30deg);
  }
}