@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "@/fonts/DancingScript-VariableFont_wght.ttf"; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'DancingScript';
  src: url("/fonts/DancingScript-VariableFont_wght.ttf") format("opentype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "DancingScript" !important;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-image {
  position: unset;
}

.image-custom {
  width: 400px;
  filter: drop-shadow(5px 15px 5px #222);
}

.text-effect {
  text-shadow: 2px #eb5858;
}